# Importing the necessary libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

### Reading the CSV file

In [2]:
heart_data = pd.read_csv('heart.csv')

In [3]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [5]:
heart_data.shape

(303, 14)

In [6]:
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [7]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [8]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [9]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

 ### 0 : Healthy heart
 
 ### 1 : Defective heart

### Spliting the Features and Target Variables

In [10]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [11]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [12]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

### Filter Method

In [13]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [14]:
chi_best = SelectKBest(score_func=chi2 , k = 4)
k_best = chi_best.fit(X , Y)

In [15]:
# Scoring each and every feature

np.set_printoptions(precision = 3)
print(k_best.scores_)

# Higher the number, better the feature

[ 23.287   7.577  62.598  14.824  23.936   0.203   2.978 188.32   38.914
  72.644   9.804  66.441   5.792]

In [16]:
# Printing the first 5 columns with best 4 features.

k_features = k_best.transform(X)
print(k_features[0:5,:])

[[  3.  150.    2.3   0. ]
 [  2.  187.    3.5   0. ]
 [  1.  172.    1.4   0. ]
 [  1.  178.    0.8   0. ]
 [  0.  163.    0.6   0. ]]

# Top 4 Features

1. thalach 
2. oldpeak
3. ca
4. cp

In [17]:
zero_not_accepted = ['thalach','oldpeak','ca','cp']

for column in zero_not_accepted:
    heart_data[column] = heart_data[column].replace(0,np.NaN)
    mean = int(heart_data[column].mean(skipna=True))
    heart_data[column] = heart_data[column].replace(np.NaN,mean)

zero_not_accepted = ['thalach','oldpeak','ca','cp']

for column in zero_not_accepted:
    heart_data[column] = heart_data[column].replace(0,np.NaN)
    mean = int(heart_data[column].mean(skipna=True))
    heart_data[column] = heart_data[column].replace(np.NaN,median)

zero_not_accepted = ['thalach','oldpeak','ca','cp']

for column in zero_not_accepted:
    heart_data[column] = heart_data[column].replace(0,np.NaN)
    mean = int(heart_data[column].mean(skipna=True))
    heart_data[column] = heart_data[column].replace(np.NaN,mode)

In [18]:
print(heart_data['thalach'])

0      150
1      187
2      172
3      178
4      163
      ...
298    123
299    132
300    141
301    115
302    174
Name: thalach, Length: 303, dtype: int64

In [19]:
print(heart_data['oldpeak'])

0      2.3
1      3.5
2      1.4
3      0.8
4      0.6
      ...
298    0.2
299    1.2
300    3.4
301    1.2
302    1.0
Name: oldpeak, Length: 303, dtype: float64

In [20]:
print(heart_data['ca'])

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
298    1.0
299    1.0
300    2.0
301    1.0
302    1.0
Name: ca, Length: 303, dtype: float64

In [21]:
print(heart_data['cp'])

0      3.0
1      2.0
2      1.0
3      1.0
4      1.0
      ...
298    1.0
299    3.0
300    1.0
301    1.0
302    1.0
Name: cp, Length: 303, dtype: float64

## Splitting Data into Training and Testing Phases

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape)

(303, 13)

In [24]:
print(X_train.shape)

(242, 13)

In [25]:
print(X_test.shape)

(61, 13)

## Model Training

### Logistic Regression

In [26]:
model = LogisticRegression()

In [27]:
model.fit(X_train, Y_train)

/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

## Model Evaluation

### Accuracy Score

In [28]:
X_train_prediction = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [29]:
print('The Accuracy of the Training data is : ', training_data_accuracy)

The Accuracy of the Training data is :  0.8512396694214877

In [30]:
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [31]:
print('The Accuracy of the Testing data is: ', test_data_accuracy)

The Accuracy of the Testing data is:  0.819672131147541

### Random Forest

### KNN Model Classifier

In [41]:
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score

In [34]:
zero_not_accepted = ['thalach','oldpeak','ca','cp']

for column in zero_not_accepted:
    heart_data[column] = heart_data[column].replace(0,np.NaN)
    mean = int(heart_data[column].mean(skipna=True))
    heart_data[column] = heart_data[column].replace(np.NaN,mean)

In [35]:
sc_X = StandardScaler()
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [37]:
import math 
math.sqrt(len(Y_test))

# Thus we select k value as 7.

7.810249675906654

In [38]:
classifier = KNeighborsClassifier(n_neighbors = 7, p=2 , metric='euclidean')

In [39]:
classifier.fit(X_train,Y_train)

KNeighborsClassifier(metric='euclidean', n_neighbors=7)

In [40]:
# Predicting the Test Set Results
Y_pred = classifier.predict(X_test)
Y_pred

array([0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1])

#### Evaluate the Model

In [43]:
cm = confusion_matrix(Y_test,Y_pred)
cm

array([[22,  6],
       [ 5, 28]])

In [44]:
print(f1_score(Y_test,Y_pred))

0.8358208955223881

In [45]:
print(accuracy_score(Y_test,Y_pred))

0.819672131147541

### Building a predictive system

In [46]:
input_data = (62,0,0,140,268,0,0,160,0,3.6,0,2,2)

input_data_as_numpy_array= np.asarray(input_data)

input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]== 0):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

[0]
The Person does not have a Heart Disease

/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

### Saving the Trained Model

In [47]:
import pickle

In [48]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [49]:
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [50]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal